{% extends "index.html" %}

{% block content %}
<table>
{% for bereich in bereiche %}
    <tr>
        <td>{{ bereich.name }}</td>
        <td>{{ bereich.area }}</td>
        <td>{{ bereich.number_of_animals }}</td>

        <td><a href="?route=delete_area&areaid={{ bereich.idarea }}">X</a></td>
    </tr>
{% endfor %}

</table>
<form method="POST">
    <form method="POST">
        <input type="text" name="name" id="name" placeholder="Name des Bereiches">
        <input type="text" name="area" id="area" placeholder="Fläche in m2">
        <input type="text" name="number_of_animals" id="number_of_animals" placeholder="Anzahl der Tiere">
        <button type="submit">Senden</button>
    </form>
</form>
{% endblock %}